* {
  font-family: "Inconsolata", serif;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f57463;
  --textLight: #fff;
  --textGray: #c5c1d9a1;
  --formBg: #c5c1d92a;
  --error: #cf1f1ffd;
  --btn: #04021e;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textLight);
  font-size: 1.6rem;
  background: url("../assets/background.png") no-repeat center bottom;
}

#root {
  margin: auto;
  width: 90%;
  height: 100vh;
}

.activeStyle {
  color: var(--primary);
  transition: "all .4s ease-in-out";
}

.btn {
  background: var(--primary);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--btn);
  font-weight: 700;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

@media screen and (max-width: 950px), screen and (max-height: 550px) {
  body {
    background: url("../assets/backgroundTablet.png") right top;
    object-fit: cover;
  }

  #root {
    height: auto;
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  body {
    background: url("../assets/background.png") no-repeat right top;
    object-fit: cover;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  body {
    background: url("../assets/background.png") no-repeat right top;
    object-fit: cover;
  }
}
